<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300&family=Kodchasan:wght@300&family=Lexend:wght@300&display=swap" rel="stylesheet">
</head>

<header>
    <div class="img-background">
        <div class="background">
            <div class="header">
                <div class="logo">
                    <a routerLink="/"><img class="logo-img" src="favicon.ico" alt="logo"></a>
                </div>
                <div class="fixed-bar">
                    <a routerLink="/list"><h2>INICIO</h2></a>
                    <a routerLink="/search"><h2>PESQUISA POR DATA</h2></a>
                    <a routerLink="/sobre"><h2 class="atual">SOBRE</h2></a>
                </div>
            </div>
            <div class="presentation">
                <div class="text1"><h3>Astronomia é a arte de desvendar <br>mistérios cósmicos,
                    e em cada olhar <br> para o céu, somos todos astrônomos, <br>
                    conectados pelo fascínio que o </h3></div>
                <div class="title"><h4>ASTRO</h4></div>
                <div class="text2"><h3>nos revela!<br></h3>
                </div>
            </div>
        </div>
    </div>
</header>
<body>
    <div class="sobre">
        <h1>Sobre o Astro</h1>
        <P>Bem-vindo ao Astro, <br> um espaço fascinante que o leva a uma jornada visual através do vasto cosmos com imagens cativantes da NASA. Explore o universo, 
            dia após dia, descobrindo a beleza única de cada imagem e desvendando os segredos do cosmos.</P>
    
            <h1 class="sobre2">O Que Oferecemos:</h1>
            
            <h5>Imagens Diárias da NASA:</h5>
            <p>Maravilhe-se com uma coleção cuidadosamente selecionada de imagens espaciais, capturadas pela NASA em diferentes dias. Cada imagem é uma obra-prima cósmica, 
                revelando a magnificência do nosso universo.</p>
            
            <h5>Detalhes Intrigantes:</h5>
            <p>Fornecemos informações detalhadas sobre cada imagem, incluindo a data em que foi capturada e o nome associado. Aprofunde-se nas histórias por trás das imagens 
                e descubra os fenômenos celestiais que estão além da nossa imaginação.
            </p>
    
            <h5>Pesquisa por Data:</h5>
            <p>Deseja explorar imagens de um dia específico? Utilize nossa ferramenta de pesquisa por data para acessar facilmente as imagens da NASA em datas específicas. 
                Viaje no tempo e reviva os momentos celestiais que ocorreram em qualquer dia que escolher.
            </p> 
    
            <h5>Experiência de Usuário Intuitiva:</h5>
            <p>Projetamos nosso site com uma interface amigável, proporcionando uma experiência de usuário suave e envolvente. Navegue pelas imagens, leia as descrições e 
                mergulhe na imensidão do universo com facilidade. <br><br>
            </p>
    </div>
</body>
</html>