<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300&family=Kodchasan:wght@300&family=Lexend:wght@300&display=swap" rel="stylesheet">
    <title>Explorum</title>
</head>
<body>
    <div class="background">
        <div class="logo">
            <img src="favicon.ico" alt="logo">
        </div>
        <video autoplay muted loop id="background-video">
            <source src="/assets/video (1080p).mp4" type="video/mp4">
            Seu navegador não suporta o elemento de vídeo.
        </video>
        <div class="presentation">
            <h1 appChangeColor>ASTRO</h1>
            <p>Explore as estrelas da sua imaginação,<br> 
                onde cada constelação é formada pelos <br>
                sonhos que você ousa perseguir.</p>
        </div>
    </div>
    <div class="fixed-bar">
        <a routerLink="/list"><h2>INICIAR EXPERIÊNCIA</h2></a>
    </div>
</body>
</html>